.mapping_table {
    width: 100%;
    padding: 20px;

    .mapping_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 20px 0;

        .search {
            display: flex;
            align-items: center;
            gap: 8px;

            .ant-input {
                width: 220px;
            }
        }

        .actions {
            width: auto;
        }
    }
}
