.container {
    .toolbar {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
    }

    .action_column {
        display: flex;
        align-items: center;
        gap: 4px;
    }
}
