.multiple_maps {
    height: 100%;
    padding: 20px;

    .maps_actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
}