.group_table {
    width: 100%;
    padding: 20px;

    .group_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 20px 0;

        .search {
            width: 300px;
        }

        .actions {
            width: auto;
        }
    }
}